
<!-- <div *ngIf='!autenticato'> {{errorMsg}} </div>
<div> -->
<app-jumbotron [Titolo] = "'Autentificazione'" [SottoTitolo] = "'Inserisci la UserId e la Password'" ></app-jumbotron>
<div>
    <label for="userId">User Id:</label>
    <input type="text"  id="userId"  placeholder="Nome utente" [(ngModel)] = "userid" >

    <label for="password">Password:</label>
    <input type="password"  id="password" placeholder="Password" [(ngModel)]="password">

    <button (click)= gestAut() >Connetti</button>
</div>
<div *ngIf="consentito">{{infoMsg}}</div>
<br>
<br>
<!-- <p>
    Il tua Userid è {{ userid }} e la  tua password è {{ password }}
</p> -->

<!-- <button (click) = gestAut()>Connetti</button>
</div>
<div *ngIf='consentito'> {{infoMsg}} </div> -->


<!--
<br>
<br>

<p>
    Il tua Userid è {{ userid }} e la  tua password è {{ password }}
</p>
-->